table {
    margin: 0;
}

table p {
    margin-top: 0;
    margin-bottom: 0;
}

table td {
    padding: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

table tbody tr:nth-child(2n) {
    background: none;
}

.maincolumn, .refpara, .refelem, .tocset, .stt, .hspace, .refparaleft, .refelemleft {
    font-family: 'Fira-Mono', monospace;
    white-space: inherit;
    font-size: 1em;
}

blockquote.Centerfigure, blockquote.SCentered {
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: inherit;
    border: none;
}

blockquote.Herefigure {
    padding: 0.2em;
    color: inherit;
    background-color: inherit;
}


.SIntrapara {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background-color: inherit;
    margin: 0 0 1em 0;
    line-height: 1.4;
}

.SCodeFlow {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background-color: inherit;
    border-left: 1px dotted black;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 2em;
    white-space: nowrap;
    line-height: 1.5;
}

.Figure {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background-color: inherit;
    border: 1px solid #000000;
    padding: 0.2em;
    background-color: #eee;
}

.Ftitle {
    border: 1px solid #000000;
    padding: 0.2em;
    background-color: lightgrey;
}

.inbox {
    padding: 0.2em;
    border: 1px solid #000000;
}

.Right {
    text-align: right;
}

a.ex-end {
    background: black;
    height: 8pt;
    width: 3pt;
    overflow: hidden;
    display: inline-block;
}


.Centertext {
    text-align: center;
    margin: 0 0 0 0;
}

.Figure, .FigureMulti, .FigureMultiWide, .Herefigure {
    margin: 1em 0 1em 0;
    border: 1px solid #1818FF;
}

.Figure, .FigureMulti, .Herefigure {
    width: 100%;
}

.FigureMultiWide {
    width: 125%;
}

.Centerfigure {
    text-align: center;
    margin: 0 0 0 0;
}

.Leftfigure {
    text-align: left;
    margin: 0 0 0 0;
}

.Rightfigure {
    text-align: right;
    margin: 0 0 0 0;
}

.FigureInside {
    margin: 1em 1em 1em 1em;
    padding: 0;
    color: inherit;
    background-color: inherit;
    border: none;
}
